@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 17px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header,
.footer {
  width: 100%;
  display: flex;
  padding: 0.8rem 0;
  justify-content: space-between;
}

.footer {
  background-color: rgb(227, 227, 227);
}

.left-links,
.right-links {
  display: flex;
  padding: 0;
  margin: 0 1rem;
  gap: 0.7rem;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: grey;
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 1rem;
}
